/* Add application styles & imports to this file! */

body{
  font-family: 'Lato';
}

button:focus{
  border : none;
  outline:none;
}

button{
  padding:16px;
  font-size:16px;
  letter-spacing:0.4px;
  border-radius:4px;
  background-image: linear-gradient(to right top, #ffafbd, #ffb3b4, #ffb7ac, #ffbda5, #ffc3a0);
  color:white;
  border:none;
  min-width:220px;
    box-shadow: 0 16px 32px 0px rgba(0, 0, 0, 0.1), 0 0px 50px 0 rgba(0, 0, 0, 0.1);
}

#disabled{
  background-image:none;
  background-color : #dfe3e9;
  color:grey;

}